// TODO: Desarrollar el CSS para los productos
.products {
    width: 50%;
    margin: auto;

    &__title
    {
        font-family: var(--titles-font);
        font-weight: bold;
        font-size: var(--space-l);
        text-align: center;
        margin: var(--space-l);
    }

    &__container
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
        padding: 20px;
    }

    &__item
    {
        display: grid;
        height: 250px;
        grid-template-rows: 2fr 1fr 1fr;
    }

    &__photo
    {
        overflow: hidden;
    }

    &__button
    {
        text-align: center;
    }

    &__info
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    &__name
    {
        font-family: var(--titles-font);
    }

    &__price
    {
        background-color: var(--orange);
        transform: rotate(-20deg);
        padding: var(--space-s);
    }

    &__cta
    {
        height: 250px;
        overflow: hidden;
        grid-column-start: span 2;
    }
}

.load {
    text-align: center;
}
