// TODO: Desarrollar el CSS para el slider
.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;

    &__ul
    {
        display: block;
        height: 600px;
        margin: 0;
        padding: 0;
    }

    &__li
    {
        height: 600px;
        list-style-type: none;
    }

    &__button
    {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 250px;
        &Prev, &Next
        {
            background: rgba($color: #000000, $alpha: 0);
            border: none;
            font-family: var(--body-font);
            font-weight: bold;
            font-size: 55px;
            opacity: 0;
        }
        &:hover {
            .slider__buttonPrev, .slider__buttonNext
            {
                opacity: 100%;
            }
        }
    }
}